*{
  margin: 0;
  padding: 0;
}
.header{
  width: 82px;
  max-width: 200px;   
  height: 100vh;
  position: absolute;
  display: inline;
  background-color: white;
  z-index: 200;
}
.main{
  width: calc(100vw - 100px);
  height: 100vh;
  display: inline;
  position: absolute;
  margin-left: 100px;
  
  background-color: #FAFAFA;
}
h1{
  font-size: 50px;
  font-weight: bold;
}